<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FiveRxLinkSecurityServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49439/FiveRxLinkSecurityService.asmx"
                binding="basicHttpBinding" bindingConfiguration="FiveRxLinkSecurityServiceSoap"
                contract="FiveRxSecurityService.FiveRxLinkSecurityServiceSoap"
                name="FiveRxLinkSecurityServiceSoap" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
